

* {
  margin: 0;
  padding: 0;
} 

body {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}


 h1{
  padding: 0px;
  margin-bottom: 1rem;
  font-size: 40px;

}

.input {
  border: 1px solid #333333;
  border-radius: .4em;
  padding: .25rem;
  width: 10em;
  
}

select{
  margin-left: .5rem;
}

.equals{
  font-weight: bold;
  font-size: 2rem;
}
